<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex mt-2 max-[972px]:flex-col">
      <div class="w-[40%] bg-[#FAE54C] max-[972px]:w-full">
        <div class="mt-[6rem] ml-[2rem]">
          <h1
            class="font-extrabold text-6xl mb-[1rem] max-lg:text-5xl max-md:text-3xl"
            style="font-family: Verdana, Geneva, Tahoma, sans-serif"
          >
            CUSTOMS
          </h1>
          <h1
            class="font-extrabold text-6xl mb-[1.5rem] max-lg:text-5xl max-md:text-3xl"
            style="font-family: Verdana, Geneva, Tahoma, sans-serif"
          >
            CLEARANCE
          </h1>
          <h1 class="mr-[1rem] mb-[4rem] text-2xl max-lg:text-1xl">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos
            eligendi dolore esse est et. Excepturi, obcaecati voluptatibus.
          </h1>
          <div
            class="flex-wrap space-x-5 text-sm font-bold max-[1199px]:mb-4 max-[400px]:flex-col"
          >
            <button
              class="border-[1px] p-2 px-7 text-[#222021] border-gray-600 rounded-md max-[400px]:p-2"
            >
              CUSTOMER HUB
            </button>
            <button
              class="text-white border-[1px] p-3 px-7 border-[#222021] bg-[#222021] hover:bg-transparent hover:text-gray-600 rounded-md max-[400px]:p-2"
            >
              GET QUESTION
            </button>
          </div>
        </div>
      </div>
      <div class="w-[60%] max-[972px]:w-full">
        <img
          class="h-full w-full object-cover"
          src="https://images.unsplash.com/photo-1705723119180-30293dd069ee?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Transport"
        />
      </div>
    </div>
    <div
      class="flex max-w-[90rem] mx-auto justify-between max-[608px]:flex-col"
    >
      <div class="px-6 py-5">
        <div class="flex items-center gap-3">
          <div class="h-[2.5rem] w-[3px] bg-[#FAE54C]"></div>
          <p class="font-extrabold text-4xl">20+</p>
        </div>
        <p class="text-1xl ml-5">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="px-6 py-5">
        <div class="flex items-center gap-3">
          <div class="h-[2.5rem] w-[3px] bg-[#FAE54C]"></div>
          <p class="font-extrabold text-4xl">19+</p>
        </div>
        <p class="text-1xl ml-5">Kilogram moved annually.</p>
      </div>
      <div class="px-6 py-5">
        <div class="flex items-center gap-3">
          <div class="h-[2.5rem] w-[3px] bg-[#FAE54C]"></div>
          <p class="font-extrabold text-4xl">120+</p>
        </div>
        <p class="text-1xl ml-5">centeral European Customers.</p>
      </div>
      <div class="px-6 py-5">
        <div class="flex items-center gap-3">
          <div class="h-[2.5rem] w-[3px] bg-[#FAE54C]"></div>
          <p class="font-extrabold text-4xl">100+</p>
        </div>
        <p class="text-1xl ml-5">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
    <!-- <div class="w-[60%] bg-black h-[50rem]"></div> -->
    <div class="flex mt-2 max-[972px]:flex-col">
      <div class="w-[60%] bg-black max-[972px]:w-full">
        <img
          class="w-full"
          src="https://images.pexels.com/photos/4483610/pexels-photo-4483610.jpeg"
          alt="WareHouse"
        />
      </div>
      <div class="w-[40%] p-14 max-[972px]:w-full">
        <div class="text-3xl text-gray-800s">
          More than 100 employees of our company have served more than 157
          customers form central Europpe.
        </div>
        <div class="text-9xl mt-4 text-gray-950">5000</div>
        <div class="text-2xl text-gray-500 mb-6">
          Years of experience in providing a prefabricated freight service
          thorughout the UK and Ireland.
        </div>
        <button
          class="border-[1px] p-2 px-7 text-[#222021] border-gray-700 rounded-md max-[400px]:p-2 text-lg font-bold"
        >
          CONTACT US FOR A QUOTE
        </button>
      </div>
    </div>
    <div class="flex mt-2 max-[972px]:flex-col">
      <div class="border-b-2"></div>
      <div class="w-[40%] bg-white max-[972px]:w-full">
        <div class="mt-[6rem] ml-[2rem] p-9">
          <h1 class="mr-[1rem] mb-[4rem] text-3xl">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos
            eligendi dolore esse est et. Excepturi, obcaecati voluptatibus.
          </h1>
          <h1
            class="font-medium text-9xl mb-[1.5rem] max-lg:text-5xl max-md:text-8xl"
          >
            500 m
          </h1>
        </div>
      </div>
      <div class="w-[60%] max-[972px]:w-full">
        <img
          class="h-full w-full object-cover p-10"
          src="https://images.pexels.com/photos/787452/pexels-photo-787452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Transport"
        />
      </div>
    </div>
  </body>
</html>
